<div class="card-section">
  <div class="row g-3">
    <div  class="col-3 ">
      <div class="score-sub card-design h-100">
        <h1 class="critical ">
          {{ malwareCount }}

        </h1>
        <span> Malware Submitted </span>
      </div>
    </div>
    <div  class="col-3 ">
      <div class="score-sub card-design h-100">
        <h1 class="high">
          {{ attackCount }}

        </h1>
        <span>Attack Count</span>
      </div>
    </div>
    <div  class="col-3 ">
      <div class="score-sub card-design h-100">
        <h1 class="medium">
          {{ sensorCount }}

        </h1>
        <span>Sensor Deployed</span>
      </div>
    </div>
    <div  class="col-3 ">
      <div class="score-sub card-design h-100">
        <h1 class="medium">
          {{ infAssetsCount }}

        </h1>
        <span>Infected Assets</span>
      </div>
    </div>

  </div>
</div>





